<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--    rmi ip&port-->
    <add key="rmi-ip" value="211.138.87.146" />
    <add key="rmi-port" value="18090" />
    <!--    rmi ip&port-->
    <!-- redis Start   -->
    <add key="redis_ip" value="192.168.2.68" />
    <add key="redis_port" value="6379" />
    <add key="redis_pw" value="" />
    <!--    是否转存redis (True/False)-->
    <add key="redis_flag" value="False" />
    <!--redis end-->
    <!--    线程Delay Time(毫秒)-->
    <add key="DelayTime" value="5000" />
    <!--    加密key-->
    <add key="CryptKey" value="hxsoft++" />    
    <!--    是否加密(True/False)-->
    <add key="Crypt" value="True" />    
    <!--    发送数据前缀(ri/rij)-->
    <add key="SendStr" value="ri" />
    <!--    JkdSql-->
    <add key="JkdSql" value="SELECT JKD_ID, JKD_NAME, RMI_ID FROM yxjk_jkd where TYPES = 1 ORDER BY JKD_NAME" />
  </appSettings>
  <connectionStrings>
    <add name="ConnStr"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=211.138.87.146)(PORT=18091))(CONNECT_DATA=(SERVICE_NAME=hx)));Persist Security Info=True;User ID=hmcs;Password=hmcs" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>